/* Style Reset */

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'fontprincial';
    src: url(/fonts/Lato-Regular.ttf);
}


body {
    background-color: #151E22;
    font-family: 'fontprincial';
    font-size: 18px;
    color: white;
    max-width: 112.5rem;    
}

a {
    font-size: 18px;
}


h1 {
    font-size: 2.5em;
    font-style: Bold; 
}

h2 {
    font-size: 1.6em;
}

p {
    font-size: 1.18em;
}

/* header */

#header div {
    background: #000000;
}

#imglogo {
    width: 12.1875rem;    
}

.btn {
    background: #0BC8AB;
}


/* Main */


#imagelaptop {
    width: 50.5rem;
}


/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #laptopmovile {
        display: none;
    }
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    body {
        font-size: 22px;
    }
    #laptopmovile {
        display: none;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    body {
        font-size: 25px;
    }
    #laptopmovile {
        display: none;
    }
 }
















/* Animation */

/* .loader {
    background: #151E22;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 3;

    animation: loader 3s linear forwards;
}

.loader div {
    background: #0BC8AB;
    width: 40px;
    height: 40px;
    border-radius: 40%;
    margin: 10px;

    animation: scaling 3s ease-in-out infinite;
}

    .loader div:nth-child(1) {
        animation-delay: 0 3s;
    }

    .loader div:nth-child(2) {
        animation-delay: 0 3s;
    }

    .loader div:nth-child(2) {
        animation-delay: 0.6s;
    }

    @keyframes scaling {

        0%,
        100% {
            transform: scale(1);
        }

        50% {
            transform: scale(.2);
        }
    }



    @keyframes loader {
        0% {
            opacity: 1;
            visibility: visible;
        }

        95% {
            opacity: 1;
            visibility: visible;
        }

        100% {
            opacity: 0;
            visibility: hidden;
        }

    }

header {
    position: absolute;
    z-index: 1;
} */